bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
fullstack2025.sln.DotSettings.user
server/Startup.Tests/appsettings.json
appsettings.Production.json
appsettings.json
mosquitto.commands.with.secrets.sh
scripts/mosquitto-commands.with.secrets.sh
.env
server/Infrastructure.Mqtt/mosquitto/config/mosquitto.conf
server/Infrastructure.Mqtt/mosquitto/data/mosquitto.db
server/Infrastructure.Mqtt/mosquitto/log/mosquitto.log
