<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true">

    <targets>
        <target xsi:type="ColoredConsole" name="console"
                layout="${color:when=level==LogLevel.Trace:foreground=Gray}
                ${color:when=level==LogLevel.Debug:foreground=Blue}
                ${color:when=level==LogLevel.Info:foreground=White}
                ${color:when=level==LogLevel.Warn:foreground=Yellow}
                ${color:when=level==LogLevel.Error:foreground=Red}
                ${color:when=level==LogLevel.Fatal:foreground=Magenta}
                ${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}} 
                (${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true:skipFrames=0}:${callsite-linenumber}${newline}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console"/>
    </rules>
</nlog>